.ContainerSliderTop {
    padding-left: 10px;
}

.LotteSizefull {

    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full_img {
    width: 100%;
    cursor: pointer;
}

.BannerSliderCard {
    width: 80%;
    margin: 10px;
}

.Aboutbox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
}

.Navbar {
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    /* background-color: #333545; */
    background-color: #14062b;

    z-index: 999;
}



.NavbarBox {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.NavbarBoxLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavLocationText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    padding: 5px;
    cursor: pointer;
}

.Navlogo {
    width: 90px;
}

.NavBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 15px 0px 15px;
    border-radius: 5px;
    padding: 4px 15px 0px 15px;
    background-color: #f84464;
}

.NavBTN_ICON {
    color: #ffffff;
    font-size: 20px;
}

.NavBTN_TEXT {
    margin-left: 5px;
    color: #ffffff;
    font-size: 15px;
    margin-top: -5px;
    font-weight: 400;
}

.NavbarBoxRightBTNBOX {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.NavbarBoxRightBTNBOX Link {
    text-decoration: none;
}

.Navbar_WithTitle {
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #14062b;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    z-index: 999;
}

.NavbarBox_WithTitle {
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    min-height: 50px;
}

.UserProfileTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 15px 0px 15px;
}

.UserProfileTopImg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(162, 238, 187);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.Container {
    margin: auto;
    width: 80%;
    color: #3c4852;
    overflow: hidden;


}

.ContainerDesktopShowbg {
    background-color: #eceff3;
}

.ContainerDesktopShowbg_Contact {
    background-color: #404043;
}

.CatBox {
    display: flex;

}


.CatBoxItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    width: 20%;
}

.CatBoxItemCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FeelListH {
    display: flex;
    overflow: hidden;

}


.Sliderlist_Item {
    min-height: 200px;
}

.FeelListH_ITEM {
    margin: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

    border-radius: 5px;
}

.FeelListHData {
    padding: 5px;
    color: black;
}

.FeelListHDataFlex {
    display: flex;
    align-items: center;
    min-height: 30px;

}

.FeelListHDataFlexTitle {
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.FeelListHDataFlexItem {
    margin: 5px 10px 0px 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.LoginHeroBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    /* background-color: #cbff88; */
}

.LoginHeroBoxA {
    min-width: 70%;
}

.LoginBox_inputBox {
    margin-top: 10px;
}

.LoginBox_input {
    width: 50%;
    margin-top: 20px;
}

.SwipeableDrawer {
    background-color: rgba(0, 0, 0, 0.099);
}

.LocationFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TitleBTNHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.Devider {
    height: 2px;
    background-color: rgb(245, 242, 242);
    margin-top: 10px;
    margin-bottom: 5px
}

.VendorDataBox {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.VendorDataBoxA {
    width: 70%;
}

.VendorDataBoxA_Points {
    margin-top: 5px;
    display: flex;
    align-items: center;

}

.VendorDataBoxB {
    width: 100%;
    margin-left: 25px;
}

.VendorDataBoxA_VendorDp {
    border-radius: 20px;
    background-color: '#c5d6e3';
    width: "100%";
    height: "300px";
    overflow: hidden;
}

.VendorDataBoxA_TitleBox {
    color: #3c4852;
}

.VendorDataBoxA_TitleBox h1 {
    margin: 0;
}

.V_counterBox {
    display: flex;

}

.V_counterITEM {

    min-height: 120px;
    width: 25%;
    border-radius: 5px;

    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.V_counterITEMNumber {
    font-size: 30px;
    font-weight: 500;
}

/* .LoaderPhotos{
    display: flex;
    flex-wrap: wrap;
}
.LoaderPhotosItem{
    margin: 10px;
} */
.LoaderSkelton {
    height: 300px;
}

.LoaderSkeltonBookinglist {
    height: 150px;
}

.Slider_LoaderBoxItem {
    width: 100%;
    margin: 10px;
}

.Slider_LoaderBox {
    display: flex;
    align-items: center;
    justify-content: center;

}

.GridBox {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.GridBox_ITEM {
    background-color: rgb(198, 206, 214);
    color: white;
    height: 300px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

}

.GridBox_ITEM_review {
    background-color: rgb(236, 239, 242);
    color: rgb(43, 42, 42);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    padding: 10px;
    display: flex;
}

.GridBox_ITEM_Booking {
    background-color: #ffffff;
    color: rgb(43, 42, 42);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


    padding: 10px;

}

.GridBox_ITEM_BookingBFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.GridBox_ITEM_BookingBSaveTag {
    padding: 5px;
    background-color: #1ab64f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted rgb(255, 255, 255);
}

.GridBox_ITEM_BookingBSaveTag span {
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.GridBox_reviewItemIMG {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.GridBox_reviewItemB {
    margin-left: 10px;
}

.ReviewText {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(46, 42, 42);
}

.PlanDatabox {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.PlanDataboxA {
    width: 50%;

}

.PlanDataboxB {
    width: 50%;
}

.PlanDataboxATITLE h1 {
    margin: 0;
}

.BookingBTN {
    width: 100%;
}

.DoneBOXDATA {
    text-align: center;
    padding: 10px;
}

.MYPROFILE_A {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.MYProfileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.GridBox_ITEM_MyBookingsItem {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 42, 42);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.GridBox_ITEM_MyBookingsItemB {
    margin-top: 10px;
    border-top: 1px dashed rgb(200, 194, 194);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Cat_LoaderBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
}

.Cat_LoaderBoxItem {
    margin: 5px;
    min-width: 150px;
    min-height: 100px;
}

.Feed_LoaderBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
}

.Feed_LoaderBoxItem {
    margin: 5px;
    min-width: 250px;
    min-height: 200px;
}

.ContactPageBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: black
}

.ContactPageBoxItem {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.ContactHomeBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.ContactHomeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContactIcon {
    font-size: 30px;
    font-weight: bold;
}

.Footer {

    background-color: #333338;

    padding: 10px;
    color: white;
}

.FooterMenuBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
}

.FooterMenuBoxItem {
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 10px;
}

.FooterMenuBoxItem :hover {
    color: yellow;
}

/* Desktop Css */


/* MOBILE CSS */

@media only screen and (max-width: 900px) {

    .Container {
        margin: auto;
        width: 100%;

    }

    .CatBox {
        overflow: auto;
    }

    .FeelListH {
        overflow: auto;
    }

    .NavbarBox {
        margin: auto;
        width: 100%;

    }

    .NavbarBox_WithTitle {
        margin: auto;
        width: 100%;

    }

    .LoginHeroBox {
        flex-wrap: wrap-reverse;
    }


    .LoginBox_input {
        width: 100%;
    }

    .LoginHeroBoxA {
        min-width: 100%;
    }

    .FeelListH_ITEM {

        min-width: 250px;

    }

    .VendorDataBox {
        flex-wrap: wrap;
        padding: 10px;
    }

    .VendorDataBoxA {
        width: 100%;
    }

    .VendorDataBoxB {
        width: 100%;
        margin: 0;
    }

    .V_counterBox {
        overflow: auto;
    }

    .V_counterITEM {
        min-width: 200px;
    }

    .PlanDatabox {
        flex-wrap: wrap;
    }

    .PlanDataboxA {
        min-width: 100%;
    }

    .PlanDataboxB {
        min-width: 100%;
    }

    .FeelListHDataFlexTitle {
        min-height: 40px;
    }

    .ContactHomeBox {
        flex-wrap: wrap;
    }

    .ContactHomeItem {
        min-width: 100%;
        margin-top: 10px;
        flex-direction: row;
        justify-content: flex-start;
    }

    .ContactText {
        margin: 10px
    }

    .ContactIcon {
        margin: 5px
    }

    .FooterMenuBoxItem {
        width: 100%;
    }

    .Aboutbox {
        flex-wrap: wrap;

    }

    .sidebysideA img {
        width: 100%;
    }

    .ContactPageBox {
        flex-direction: column;
    }
    .ContactPageBoxItem {
        flex-direction: column;
    }

}